.instagram {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255,0,0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255,0,0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  .instagram span {
    margin: 10px;
  }
  
  .instagram::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .instagram:hover {
    color: #fff;
    border: 1px solid rgb(255,0,0);
  }
  
  .instagram:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
  }


/* Estilos del cuerpo y fondo */
body {
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    color: #8A2BE2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del chat */
.chat-container {
    width: 800px;
    background-color: #111;
    border: 2px solid #8A2BE2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #8A2BE2;
}

/* Cuadro donde aparecen los mensajes */
.chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 2px solid #8A2BE2;
}

/* Estilo de cada mensaje */
.message {
    margin: 5px 0;
    background-color: #333;
    padding: 8px;
    border-radius: 5px;
    color: #8A2BE2;
}

/* Input y botón de envío */
.chat-input {
    display: flex;
    border-top: 2px solid #8A2BE2;
}

#message-input {
    flex: 1;
    background-color: #222;
    border: none;
    color: #8A2BE2;
    padding: 10px;
    font-size: 14px;
}

#message-input::placeholder {
    color: #555;
}

#send-button {
    background-color: #8A2BE2;
    border: none;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #5e1e9e;
}
